@*@model IEnumerable<TraiDoan.Models.OrderDetails>*@
@model PagedList.IPagedList<TraiDoan.Models.OrderDetails>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Adminitrator/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "OrderDetails", FormMethod.Get))
{
    <p style="text-align:center">
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn-success" />
    </p>
}
<table class="table">
    <tr>

        <th>
            <div class="btn-warning">@Html.ActionLink("Tên", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</div>

            <div class="btn-default"> @Html.ActionLink("Giá", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })  </div>
        </th>
    </tr>
    <tr>
        <th>
            Namecus
        </th>
        <th>
            NameProduct
        </th>
        <th>
            QuantitySale
        </th>
        <th>
            UnitPriceSale
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Namecus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantitySale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPriceSale)
            </td>
            <td style="display:flex">
                <a class="btn btn-warning" href="@Url.Action("Edit","OrderDetails",new { id=item.IDOrderDetail})">Edit</a>
                <a class="btn btn-primary" href="@Url.Action("Details","OrderDetails",new { id=item.IDOrderDetail})">Detail</a>
                @*<a class="btn btn-danger" href="@Url.Action("Delete","Products",new {id=item.IDProduct})">Delete</a>*@
                @using (Html.BeginForm("Delete", "OrderDetails", new { id = item.IDOrderDetail }, FormMethod.Post))
                {
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.AntiForgeryToken()

                }
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))