@model IEnumerable<TraiDoan.Models.Products>
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_layoutchung.cshtml";
}

@*<h2>@Html.Action("BagCart", "ShoppingCart")</h2>*@
@{
    List<string> a = new List<string>(); //category product
    List<string> b = new List<string>(); // loc category
    List<string> c = new List<string>(); //img sanpham
    List<int> d = new List<int>(); // product
}
@foreach (var item in Model)
{
    a.Add(item.Category.NameCategory);
    d.Add(item.IDCategory);
    for (int i = 0; i < a.Count; i++)
    {
        if (b.Contains(a[i]) == false)
        {
            b.Add(a[i]);
            c.Add(item.Image.Replace("~/Content", "/Content"));
        }
    }
}
@*@foreach (var item1 in d)
    {
        Write(item1);
    }*@


<div class="container">

    <div>
        <!-- Hero Section Begin -->
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                                <i class="fa fa-bars"></i>
                                <span>All departments</span>
                            </div>
                            <ul>
                                @Html.Action("categoryPartial", "Home")
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="hero__search">
                            <div class="hero__search__form">
                                @using (Html.BeginForm("Homesearch", "Home"))
                                {
                                    <div class="hero__search__categories">
                                        All Categories
                                    </div>
                                    <input type="text" id="search" name="search" placeholder="What do yo u need?">
                                    <button type="submit" class="site-btn" value="Search">SEARCH</button>
                                }
                            </div>
                            <div class="hero__search__phone">
                                <div class="hero__search__phone__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="hero__search__phone__text">
                                    <h5>+0987654321</h5>
                                    <span>support 24/7</span>
                                </div>
                            </div>
                        </div>
                        <div class="hero__item set-bg" data-setbg="/Content/img/hero/baner123.jpg" style="background-size: auto">

                            <div class="hero__text">
                                <span>FRUIT FRESH</span>
                                <h2>Vegetable <br />100% Organic</h2>
                                <p>Free Pickup and Delivery Available</p>
                                <a href="/Home/Products" class="primary-btn">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->
    </div>

    <div>
        <!-- Categories Section Begin -->
        <section class="categories">
            <div class="container">
                <div class="row">
                    <div class="categories__slider owl-carousel">
                        @for (int i = 0; i < b.Count; i++)
                        {
                            <div class="col-lg-3">
                                <div class="categories__item set-bg" data-setbg="@c[i]">
                                    <h5><a href="/Home/parProDefault/@d[i]">@b[i]</a></h5>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- Categories Section End -->

    </div>

    <div>
        <!-- Featured Section Begin -->
        <section class="featured spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Featured Product</h2>
                        </div>
                        <div class="featured__controls">
                            <ul>                               
                                <li class="active" data-filter="*">All</li>
                                @for (int item = 0; item < b.Count; item++)
                                {
                                    {
                                        <li data-filter=".@b[item]">@b[item]</li>}
                                }
                                @*<li data-filter=".fresh-meat">Fresh Meat</li>
                                    <li data-filter=".vegetables">Vegetables</li>
                                    <li data-filter=".fastfood">Fastfood</li>*@
                            </ul>
                        </div>
                    </div>
                </div>

                <div style="overflow:hidden;max-height:750px">
                    <div class="row featured__filter " >
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 mix @item.Category.NameCategory" id="@item.IDProduct">
                                <div class="featured__item">
                                    <div class="featured__item__pic set-bg" data-setbg="@item.Image.Replace("~/Con", "/Con")">
                                        <ul class="featured__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="/Home/Details/@item.IDProduct"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="/ShoppingCart/AddtoCart/@item.IDProduct" onclick="myFunction()"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                        <script>
                                            function myFunction() {
                                                alert("Đã thêm vào giỏ");
                                            }
                                        </script>
                                    </div>
                                    <div class="featured__item__text">

                                        <h6><a href=" @Url.Action("Details", "Products", new { id = item.IDProduct })">@item.NameProduct</a></h6>
                                        <h5>$@item.UnitPrice</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured Section End -->

    </div>

    <div>
        <!-- Banner Begin -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="banner__pic">
                            <img src="~/Content/img/banner/banner-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="banner__pic">
                            <img src="~/Content/img/banner/banner-21.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->

    </div>

    <div>
        <!-- Latest Product Section Begin -->

          



        <section class="latest-product spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="latest-product__text">
                            <h4>Sản phẩm mới</h4>
                            <div class="latest-product__slider owl-carousel">                              
                                @Html.Action("NewProduct", "Home")
                                @Html.Action("NewProduct", "Home")
                                @Html.Action("NewProduct", "Home")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="latest-product__text">
                            <h4>Sản phẩm bán chạy</h4>
                            <div class="latest-product__slider owl-carousel">
                                @Html.Action("HotProduct", "Home")
                                @Html.Action("HotProduct", "Home")
                                @Html.Action("HotProduct", "Home")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="latest-product__text">
                            <h4>Sản phẩm bán bình thường</h4>
                            <div class="latest-product__slider owl-carousel">                              
                                @Html.Action("LatestProduct", "Home")
                                @Html.Action("LatestProduct", "Home")
                                @Html.Action("LatestProduct", "Home")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Latest Product Section End -->

    </div>

    <div>
        <!-- Blog Section Begin -->
        <section class="from-blog spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title from-blog__title">
                            <h2>From The Blog</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-1.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="/Home/Blog">Cooking tips make cooking simple</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-2.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="/Home/Blog">6 ways to prepare breakfast for 30</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-3.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="/Home/Blog">Visit the clean farm in the US</a></h5>
                                <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Section End -->

    </div>
</div>