@*@model IEnumerable<TraiDoan.Models.Products>*@
@model PagedList.IPagedList<TraiDoan.Models.Products>
@using PagedList.Mvc;

@{
    Layout = "~/Areas/Adminitrator/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <p style="text-align:center">
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn-success" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                <div class="btn-warning">@Html.ActionLink("Tên", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</div>

                <div class="btn-default"> @Html.ActionLink("Giá", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })  </div>
            </th>


        </tr>
        <tr>
            <th>
                NameCategory;
            </th>
            <th>
                NameProduct;
            </th>
            <th>
                Quantity;
            </th>
            <th>
                UnitPrice;
            </th>
            <th>
                Image;
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.NameCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" style="margin:10px;height:50px;width:50px;" />
                </td>
                <td style="display:flex">
                    <a class="btn btn-warning" href="@Url.Action("Edit","Products",new { id=item.IDProduct})">Edit</a>
                    <a class="btn btn-primary" href="@Url.Action("Details","Products",new { id=item.IDProduct})">Detail</a>
                    @*<a class="btn btn-danger" href="@Url.Action("Delete","Products",new {id=item.IDProduct})">Delete</a>*@
                    @using (Html.BeginForm("Delete", "Products", new { id = item.IDProduct }, FormMethod.Post))
                    {
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        @Html.AntiForgeryToken()

                    }
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</body>
</html>
