@model TraiDoan.Models.User
@{
    ViewBag.Title = "Register";
    
}

<!DOCTYPE html>
<html>
<head>
    <title>Animated Login Form</title>
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="~/Content/login/img/wave.png">
    <div class="container">
        <div class="img">
            <img src="~/Content/login/img/bg.svg">
        </div>
        <div id="form-login" class="login-content">
        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()       
            <h2 class="title">Register</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName)
                </div>
            </div>               
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName)
                </div>
            </div>
                @Html.ValidationMessageFor(m => m.FirstName)           
                @Html.ValidationMessageFor(m => m.LastName) 
             <div class="input-div one">

                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </div>
            </div>   
                @Html.ValidationMessageFor(m => m.Email) 
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </div>
                </div>
                @Html.ValidationMessageFor(m => m.Password) 

                @Html.ValidationMessageFor(m => m.ConfirmPassword) 

                    <input class="btn btn-primary" type="submit" value="Register" />
                    <input class="btn btn-primary" type="reset" value="Reset" />
                    <a class="btn btn-primary" style="text-align:center" href="@Url.Action("Index","Login")">LogIn</a>
                 
           
        }
    </div>
</body>
</html>

