@*@model IEnumerable<TraiDoan.Models.Category>*@
@model PagedList.IPagedList<TraiDoan.Models.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Adminitrator/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
    <p style="text-align:center">
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn-success" />
    </p>
}
<div class="container">


    <table class="table">
        <tr>
            <th>
                <div class="btn-warning">@Html.ActionLink("Tên", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</div>          
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCategory)
                </td>
                <td style="display:flex">
                    <a class="btn btn-warning" href="@Url.Action("Edit","Categories",new { id=item.IDCategory})">Edit</a>
                    <a class="btn btn-primary" href="@Url.Action("Details","Categories",new { id=item.IDCategory})">Detail</a>
                    @*<a class="btn btn-danger" href="@Url.Action("Delete","Order",new {id=item.IDorder})">Delete</a>*@
                    @using (Html.BeginForm("Delete", "Categories", new { id = item.IDCategory }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    }
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>